/* Garante que o fundo cubra toda a tela */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* Define o fundo preto */
  color: white; /* Para garantir que o texto fique visível */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que cubra toda a altura da tela */
  width: 100vw; /* Garante que cubra toda a largura */
}
